.dataPicker {
  width: 100%;
}

.dataPicker .DayPicker-wrapper {
  padding-top: 16px;
}

.dataPicker .DayPicker-Weekday {
  color: #4a4a4a !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.dataPicker
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  z-index: -3;
  background-color: #f4f4f4 !important;
  color: #4a4a4a !important;
}
.dataPicker .DayPicker-Day {
  border-radius: 0 !important;
  padding: 0;
  padding-top: 5px;
  width: 46px;
  height: 46px;
  vertical-align: top;
}

.dataPicker .DayPicker-Day--start {
  border: 1px solid #00ace2 !important;
  background: #effbff !important;
  color: #4a4a4a !important;
}

.dataPicker
  .DayPicker-Day.DayPicker-Day--start.DayPicker-Day--end.DayPicker-Day--selected:after {
  display: none;
}

.dataPicker .DayPicker-Day:not(.DayPicker-Day--disabled) {
  color: #4a4a4a !important;
  font-weight: 700 !important;
  border: none !important;
}

.dataPicker .DayPicker-Day--end,
.dataPicker .DayPicker-Day--start {
  position: relative;
  border: 1px solid #00ace2 !important;
  background: transparent !important;
  color: #4a4a4a !important;
  border-radius: 5px 0 0 5px;
}

.dataPicker .DayPicker-Day--start:not(.DayPicker-Day--outside):before,
.dataPicker .DayPicker-Day--end:not(.DayPicker-Day--outside):before {
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  content: "";
  width: 100%;
  height: 100%;
}

.dataPicker .DayPicker-Day--end:not(.DayPicker-Day--outside):after {
  position: absolute;
  z-index: -2;
  top: 0;
  left: -3px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/datapicker-active.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100% 100%;
  transform: rotate(180deg);
  box-shadow: -5px 0 0 0 white;
}

.dataPicker .DayPicker-Day--start:not(.DayPicker-Day--outside):after {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 3px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/datapicker-active.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left center;
  box-shadow: -5px 0 0 0 white;
}

.dataPicker
  .DayPicker-Day.DayPicker-Day--start.DayPicker-Day--end.DayPicker-Day--selected:after {
  transform: rotate(0deg);
  display: block;
}
.dataPicker .DayPicker-Caption {
  margin-bottom: 22px;
}

.dataPicker .DayPicker-Caption > div {
  text-align: center;
  font-weight: 700;
  line-height: 18px;
  font-size: 14px;
  text-transform: uppercase;
}

.dataPicker .DayPicker-NavButton--prev {
  left: 4px;
  top: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../images/datapiker-arrow.svg");
}

.dataPicker .DayPicker-NavButton--next {
  width: 15px;
  height: 15px;
  right: 4px;
  top: 18px;
  transform: rotate(180deg);
  background-image: url("../images/datapiker-arrow.svg");
}

.dataPicker .DayPicker-Month {
  margin: 0;
  width: 100%;
}
